<ion-view view-title="Todos">
	<ion-content>

		<div class="card" ng-repeat="n in [].constructor(2) track by $index" ng-click="modal.show()">
			<a class="item item-avatar item-text-wrap">
				<img src="img/thumb.png" alt="Dummy" style="border-radius: 0px;">
				<h3>Dummy</h3>
				Este es un restaurante dummy de prueba.
			</a>
		</div>

	</ion-content>
</ion-view>

<script id="templates/modal_menu.html" type="text/ng-template">
	<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-balanced">
		<h1 class="title">Menu</h1>
		<button class="button button-clear button-primary" ng-click="modal.hide()">Cerrar</button>
	</ion-header-bar>
	<ion-content class="padding">

		<ion-list>
			<h2>Restaurante Fulvio</h2>

			<div ng-repeat="n in [].constructor(2) track by $index">
				<ion-item class="item-divider">
					<h3>Entradas</h3>
				</ion-item>
				<ion-item class="item-icon-right" ng-repeat="n in [].constructor(3) track by $index">

					<h3>Restrurante Fulvio</h3>
					<p>$250</p>
					<i class="icon ion-plus"></i>
				</ion-item>

			</div>

			<!--<button class="button button-full button-positive" ng-click="acept()">OK</button>-->
		</ion-list>

	</ion-content>
	</ion-modal-view>
</script>
