<ion-view view-title="Configuración">
  <ion-content class="padding">
    <!--<ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Notificaciónes
    </ion-toggle>
    </ion-list>-->
		<h3>Serrucho</h3>
		<p>Serrucho es la primera aplicacion de busqueda de restaurantes que tiene la opcion de dividir cuentas segun el presupuesto que los usuarios manejen
        en el momento.</p>

		<h4>Versión: 1.0</h4>
		<ul style="list-style: disc; padding-left: 40px; margin-top: 14px; margin-bottom: 14px;">
			<li>Agregadas todas las vistas</li>
			<li>Data Dummy estática</li>
			<li>Vistas estáticas</li>
		</ul>
		<h4>Equipo:</h4>
		<ul style="list-style: disc; padding-left: 40px; margin-top: 14px; margin-bottom: 14px;">
			<li>Jose A. Santiago</li>
			<li>Jeimy Rojas</li>
			<li>Fulvio Andres</li>
		</ul>
		<p>Derechos reservados por el equipo de desarrollo.</p>
		<!--<a href="">Términos de uso</a>-->
  </ion-content>
</ion-view>
