<ion-view view-title="Home">
  <ion-content class="padding">
    <h2>Bienvenidos a Serrucho</h2>
    <div class="parrafo">
      <p>
        Serrucho es la primera aplicacion de busqueda de restaurantes que tiene la opcion de dividir cuentas segun el presupuesto que los usuarios manejen
        en el momento.
      </p>
    </div>

    <h3>Nuevos restaurantes</h3>

    <div class="parrafo">
      <p>
        Se han unido a la familia serrucho los restaurantes: Gastronomia Mexicana,
        Madera Steak House, La Plaza del Pollo, Pizzareli, Barra Payan y 7Dips.
      </p>
    </div>

    <img id="oferta" src="ofertas.png" height="25%" width="100%">

    <div>
      <img class="ofertas" src="comida1.png" height="18%" width="100%">
      <img class="ofertas" src="comida2.png" height="18%" width="100%">
      <img class="ofertas" src="comida3.png" height="18%" width="100%">
    </div>
  </ion-content>
</ion-view>
