<ion-view view-title="Home">
  <ion-content class="padding">
    <h2>Bienvenidos a Serrucho</h2>
    <div class="parrafo">
      <p>
        Serrucho es la primera aplicacion de busqueda de restaurantes que tiene la opcion de dividir cuentas segun el presupuesto que los usuarios manejen
        en el momento.
      </p>
    </div>

    <h3>Nuevos restaurantes</h3>

    <div class="parrafo">
      <p>
        Se han unido a la familia serrucho los restaurantes "nombres de restaurantes que se usen de dummy"
      </p>
    </div>

    <img id="oferta" src="ofertas.png" height="20%" width="100%">

  </ion-content>
</ion-view>
