<ion-view view-title="Presupuesto">
  <ion-content class="padding">

	<div class="list">
		<label class="item item-input item-select">
			<div class="input-label">
				Cantidad
			</div>
			<select id="peopleNum">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
			</select>
		</label>
		<label class="item item-input">
			<div class="input-label">
				Precio
			</div>
			<input type="number" placeholder="RD$" />
		</label>
	</div>

	<button class="button button-block button-positive" ng-click="">Serrucho</button>

  </ion-content>
</ion-view>
