<ion-view view-title="Presupuesto">
  <ion-content class="padding">

	<div class="list">
		<label class="item item-input item-select">
			<div class="input-label">
				Cantidad
			</div>
			<select id="peopleNum">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
			</select>
		</label>
		<label class="item item-input">
			<div class="input-label">
				Precio
			</div>
			<input type="number" placeholder="RD$" id="amount" />
		</label>
	</div>

	<label class="item item-input">
		<input type="text" id="recomend" />
	</label>

	<button class="button button-block button-positive" ng-click="serrucho()">Serrucho</button>

	<ion-list>
			<ion-item class="item-icon-right" ng-repeat="n in items track by $index">
				<h3>{{n.Name}}</h3>
				<p>$ {{n.Price}}</p>
				<!--<i class="icon ion-plus" ng-click="remove(n)"></i>-->
			</ion-item>
			<ion-item ng-if="items.legth == 0" class="item-icon-right">
				<p>No tiene ningún item en su factura.</p>
			</ion-item>

			<p style="text-align: right;">Total: $ {{total()}}</p>

			<label class="item item-input">
				<div class="input-label">
					Nombre
				</div>
				<input type="text" id="billName" placeholder="Nombre de la factura" value="Factura"/>
			</label>
			
			<div class="button-bar">
				<button class="button button-full button-clear button-assertive" ng-click="clean()">Cancelar</button>
				<button class="button button-full button-clear button-positive" ng-click="acept()">Gastar</button>
			</div>

	</ion-list>

  </ion-content>
</ion-view>
