<ion-view view-title="Facturas">
	<ion-content>

		<div class="card" ng-repeat="b in userBills track by $index">
			<a class="item item-avatar item-text-wrap"  ng-click="openModal(b.ID)">
				<h3>{{ b.Name }}</h3>
				<p>Total: {{b.Total}}</p>
			</a>
			<i class="icon ion-remove" ng-click="Remove(b.ID)"></i>
		</div>
		<div ng-if="userBills.length == 0">No tiene facturas.</div>

	</ion-content>
</ion-view>

<script id="templates/modal_bill.html" type="text/ng-template">
	<ion-modal-view>
		<ion-header-bar class="bar bar-header bar-balanced">
			<h1 class="title">Factura</h1>
			<button class="button button-clear button-primary" ng-click="closeModal()">Cerrar</button>
		</ion-header-bar>
		<ion-content class="padding">

			<ion-list>
					<ion-item class="item-divider">
						<h2>{{ userBills[items[0].BillID - 1].Name }}</h2>
					</ion-item>
					<ion-item class="item-icon-right" ng-repeat="n in items track by $index">

						<h3>{{n.ItemName}}</h3>
						<p>$ {{n.ItemPrice}}</p>
						<i class="icon ion-plus" ng-click="remove(n)"></i>
					</ion-item>

			</ion-list>

		</ion-content>
	</ion-modal-view>
</script>
