<ion-view view-title="Home" ng-controller="DashCtrl">
  <ion-content class="padding">
    <h2>Bienvenidos a Serrucho</h2>
    <div class="parrafo">
      <p>
        Serrucho es la primera aplicacion de busqueda de restaurantes que tiene la opcion de dividir cuentas segun el presupuesto que los usuarios manejen
        en el momento.
      </p>
    </div>

    <h3>Nuevos restaurantes</h3>

    <div class="parrafo">
      <p>
        Se han unido a la familia serrucho los restaurantes: <span ng-repeat="n in restNames">{{n}}, </span>.
      </p>
    </div>

    <img id="oferta" src="img/ofertas.png" height="25%" width="100%">

    <div>
      <img ng-repeat="off in offers" class="ofertas" src="img/offer/{{ off.Image }}" height="auto" width="100%" />
    </div>
  </ion-content>
</ion-view>

<script id="name-input.html" type="text/ng-template">

  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">Enter your Name</h1>
    </ion-header-bar>
    <ion-content>
      <input type="text" id="name" name="name" />
    </ion-content>
  </ion-popover-view>
  
</script>
