<!--<ion-tabs class="tabs-messages tabs-light tabs-top tabs-icon-top has-tabs-top">-->
<ion-tabs class="tabs-striped tabs-top tabs-color-balanced has-tabs-top">
	
	<!--<ion-tab title="Mis Restaurantes" href="#/tab/rest/mis">
		<ion-nav-view name="tab-rest-mis"></ion-nav-view>
	</ion-tab>-->
	
	<ion-tab title="" href="#/tab/rest/all">
		<ion-nav-view name="tab-rest-all"></ion-nav-view>
	</ion-tab>
	
	<!--<ion-tab title="Facturas" href="#/tab/rest/bills">
		<ion-nav-view name="tab-rest-bills"></ion-nav-view>
	</ion-tab>-->
</ion-tabs>
